<div class="content"></div>
<form [formGroup]="UserForm" (ngSubmit)="onFormSubmit()" class="ui form">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" placeholder="Nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input type="text" class="form-control" id="prenom" placeholder="Prenom">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="date">DateNaissance</label>
        <input type="date" class="form-control" id="date" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="tel">tel</label>
        <input type="number" class="form-control" id="tel" placeholder="tel">
      </div>
      <div class="form-group">
        <label for="poste">poste</label>
        <input type="text" class="form-control" id="poste" placeholder="poste">
      </div>
      <select [formControl]="userDepartments">
        <option *ngFor="let dep of departement" [value]="dep.id">
          {{ dep.nomDep }}
        </option>
      </select>
